$color-white: #FFFFFF;
$color-black: #202027;
$color-light-green: #E1FF8F;
$color-green: #BCEC30;

* {
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
background-color: $color-black;
}

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px)
}

.top {
    height: 800px;
    background-image: url(./image/фон-баннер.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;

    &__animation-strip {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $color-green;
        display: flex;
        flex-direction: row;
        gap: 50px;
    padding: 27px 49px;
}

    &__animation-text {
        position: relative;
        font-weight: 700;
        font-size: 30px;
        vertical-align: middle;
        text-transform: uppercase;
        color: $color-black;
        white-space: nowrap;
        }

        &__animation-star {
            width: 36px;
            height: 36px;
        }
    
}

.banner {
width: 770px;
padding-top: 196px;

    &__heading {
        font-weight: 700;
        font-size: 64px;
        color: $color-black;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $color-black;
        margin-top: 24px;
        margin-bottom: 48px;

        &-bold {
            font-weight: 600;
        }
    }

    &__link-go {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: $color-black;
        color: $color-white;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        text-decoration-line: none;

        &:hover {
            border: 1px solid #000000;
            background: transparent;
            color: $color-black;
        }
    }

}

.heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        color: $color-white;
    }

.about-games {
padding-top: 94px;
background-image: url(./image/фон-об-играх.png);

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $color-white;
        margin-top: 24px;
        margin-bottom: 72px;
        
}
}

.cards-gm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;

    &_too {
    align-items: flex-end;
}
}


.cards-ab-gm {
width: 378px;
height: 100%;
border-radius: 30px;
background: $color-white;
box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
text-decoration: none;
color: $color-black;

    &__image {
        padding-bottom: 32px;
        border-radius: 30px;
        width: 378px;
    }

    &__nomber {
        width: 108px;
        height: 36px;
        border-radius: 60px;
        background:#F7F7F7;
        color: $color-black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 110.00000000000001%;
        margin-left: 32px;
        margin-right: 32px;

    }

    &__heaging {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 16px;
        padding-bottom: 36px;
    }

}

.cards-ab-gm:hover {
    position: relative;
    transform: scale(1.1);
   
}


.mini-games {
background-image: url(./image/фон-мини-игры.png);
padding-top: 96px;
padding-bottom: 144px;
}

.mini-games-cards {
padding-top: 72px;
text-decoration-line: none;
display: flex;
flex-direction: column;
gap: 32px;

&__cont {
width: 1200px;
height: 500px;
border-radius: 30px;
background: $color-white;
display: flex;
flex-direction: row;
justify-content: space-between;
text-decoration: none;
}

&__info {
    display: flex;
    flex-direction: column;
    margin: 48px;
}

&__heading {
font-family: Montserrat;
font-weight: 700;
font-size: 48px;
color: $color-black;
}

&__subtitle {
font-family: Montserrat;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: $color-black;
padding-top: 24px;
padding-bottom: 36px;
}

&__button {
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
line-height: 142%;
text-align: center;
width: 247px;
height: 66px;
border-radius: 60px;
padding: 16px 28px;
background-color: $color-black;
color: $color-white;
}

&__img {
border-radius: 30px;
width: 600px;
}

}

.footer {
background: $color-green;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;

&__text {
font-family: Montserrat;
font-weight: 600;
font-size: 24px;
color: #000000;
}

}


@import 'mobile'
